<body id="welcome">
	<div id="intro" class="small-8  small-offset-3 columns">
		<p> PledgeKeeper allows organizers to create a self propelled system for managing volunteers</p>
	</div>

	
	<div class = "row ">




	<div class="small-6 large-6 login right "><span id="loginboxbanner">Admin</span>
		   <p id='invitetext'> Sign up now to create a private group... Share your invitation code to add pledgekeepers and get productive!
			<br>
	    	<button class="button alert small"  data-reveal-id="adminmodal" >Join As admin.</button>

	  <div id="adminmodal" class="reveal-modal" data-reveal>
				<%= render partial: 'users/forms', :controller=>"chores", :action =>"new" %>

	    	<a class="close-reveal-modal"></a>
	 	</div>
	 	</p>
	</div>






	<div class="small-6 large-6 login left"><span id="loginboxbanner">Pledge</span>
			<p id='invitetext' >Did you recieve an invidation code? Enter the code when you register to be in your group!</p>
			<br>
	   		<button class="button alert small"  data-reveal-id="pledgemodal" >Join As pldege.</button>

	  <div id="pledgemodal" class="reveal-modal" data-reveal>
			<%= render partial: 'users/forms1', :controller=>"chores", :action =>"new" %>

		    <a class="close-reveal-modal"></a>
	 	</div>
	</div>

	

	</div>

</body>