
<div class="Welcome">

	<div class="banner clearfix">
		
	</div>

	<div class="sticky">
		<%= render "layouts/navbar" %>
	</div>	
	<div class="welcomeExplain">
		<div class="howitworks">
			<div class="besttool">
				<p id="introstatement">Pledge Keeper is the best tool to helps better organize responsibilities in groups!</p>
			</div>
				<div class="admin">
				<h1>How To Start As An Admin</h1>
					<ul class="small-block-grid-1 medium-block-grid-3 ">
					  <li><div>Make A Group</div> <br>
					  
					  <%= image_tag("groups.png") %>
					  </li>
					  <li><div>Invite Members</div> <br>
					 
					   <%= image_tag("invite.png") %>
					  </li>
					  <li><div>Add Tasks</div><br>
					  
					   <%= image_tag("task.png") %>
					  </li>
					</ul>
			</div>	

			<div class="pledge" style="width:100%; height:200px;">
			<h1>As A Pledge</h1>
				
			</div>
		</div>
	</div>


</div>