<p class="groupbanner"><%= @group.name %></p>

<div class="membersbox">
	<p class="members"><ul>
		<% @group.users.each do |g| %>

		<div class="groupboxmembers" style="display:inline; float:left;">
			
			<p class="members"><ul>
					<p><%= g.name %></p>
	
            <%= link_to 'Delete', g, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to "Edit", edit_group_path(g) %>

		</div>
		<% end %>
</div>

<p class="progressbarbanner">Progress for date</p>


<div>
                       <button class="button alert"  data-reveal-id="choremaster" >Add Chore</button>
                    </div>


                     <div id="choremaster" class="reveal-modal" data-reveal>
     
     <a class="close-reveal-modal">&#215;</a>
  </div>
