/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */


html{
	font-size: 16px;

}
body{
	font-size:62.5%;
}

.navbar{
	width: 100%;
	height: 65px;
	background-color: rgba(84,24,119,0.7);
	
}

.navlinks{
	font-weight: bold;
	text-decoration: none;
	color: white;
	float: right;
	margin-top: 20px;
	margin-right: 25px;
}
#logo {
	margin: 10px;
	width: 268px;
	height: 44px;
}

.staticpage {
	width: 100%;
	height:705px;
	overflow:hidden; 
}

#signupmodal {
	background-color: rgba(255,255,255,0.80);
	border-radius: 10px;
	max-width:850px;
}

#loginmodal {
	background-color: rgba(255,255,255,0.80);
	border-radius: 10px;
	max-width:850px;

}






