// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.groupbox {
	border: 2px solid black;
	border-radius: 10%;
	min-width:100px;
	background-color: rgba(50,0,30,.2);
	height: 200px;
	display:inline-block;
	overflow-y: scroll;
}
.groupbanner{
	font-size: 4em;
	text-align: center;
}


#groupname{
	background-color: rgba(0,0,0,.2);
}

#newgroup{
	text-align: center;
	padding: 20px;
}

.membersbox {
	min-height: auto;
	border: 2px solid black;	
}
#membersname{
	p{color:red;}
}

.progressbarbanner{
	font-size: 3em;	
}


#choresection{
	background-color: rgba(122,20,45, .5);
	margin-top: 10px;

}
.members{
	display: inline-block;
	font-size: 1em;
	border: 1px solid black;
	// margin: 2px 4px;
	overflow-x: scroll;
	max-height: 80px;
	
	@media only screen and 
	(min-width:  64.063em) and 
	(max-width: 120em) { 
	width:200px;
	} 
}



