// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	 background: -webkit-linear-gradient(#ffffff 23.84%, #e2f8c1 100%);	
    }

@media only screen and (max-width: 800px){
  .login{height:160px;}
  h1{ font-size:2em;}
  h3{ font-size:1.4em}
}

.login {
	
	border: 1px solid black;
	background: rgba(163, 148, 41, .5 );
	// box-shadow: 1em 2em 2em #333333;
	display: inline block;
	
	float: left;
}

.invitetext {
	font-size:1em;
	color: black;
	// text-shadow: 0 -2px 3px #111,0 3px 4px #666;

}

.accordionlogin{
text-align: center;
font-weight: bold;
}
