// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.login {
	font-size:1em;
	border: 1px solid black;
	background: rgba(163, 148, 41, .5 );
	// box-shadow: 1em 2em 2em #333333;
}



.accordionlogin{
text-align: center;
font-weight: bold;
}


#signupmodal {
	background-color: rgba(255,255,255,0.80);
	border-radius: 10px;
	max-width:850px;
}

#loginmodal {
	background-color: rgba(255,255,255,0.80);
	border-radius: 10px;
	max-width:850px;

}
