// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.progress-meter {
  
  .background {
    fill: black;
  }
  
  .foreground {
    fill: #2E7AF9;
  }
  
  text {
    font-family: 'Georgia' sans-serif;
    font-size: 90px;
  }
  
  .text2 {
    font-family: 'Georgia' sans-serif;
    font-size: 20px;
  }
}
